.footer {
  background-color: $main-backround-color;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    @extend %container;
    text-align: center;
  }

  &__thumb:nth-child(2) {
    margin-top: 60px;
  }

  &__thumb:nth-child(3) {
    margin-top: 60px;
  }

  &__thumb:nth-child(3) input {
    display: inline-block;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    width: 100%;
    height: 50px;
    padding-left: 16px;
    outline: none;
    color: #fff;

    @include transition(border);
  }

  &:nth-child(3) input::placeholder {
    @include roboto(400, 16px, 1.25, 0.03em);
    color: rgba(255, 255, 255, 0.6);
  }

  &:nth-child(3) input:focus {
    border: 1px solid $accent-color;
  }

  & .logo {
    display: block;
    margin-bottom: 20px;
    color: $main-basic-white;
  }

  &__text {
    @include roboto(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: $main-basic-white;
  }

  & .socials__link {
    background: rgba(255, 255, 255, 0.1);
    @include transition(background-color);
  }

  & .socials__link:hover,
  & .socials__link:focus {
    background-color: $accent-color;
  }

  &__button {
    @include button;
    margin-top: 0;
    margin-top: 20px;
    padding: 10px 28px 10px 29px;
    @include transition(transform);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover {
    box-shadow: 0 15px 20px rgba(117, 117, 117, 0.7);
    transform: translateY(-7px);
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    fill: #fff;
  }

  & .socials {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }

  & .socials__icon {
    @include transition(fill);
    fill: $main-basic-white;
  }
}

.address {
  &__item {
    @include roboto(400, 14px, 1.71, 0.03em);
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
  }

  &__item + &__item {
    margin-top: 9px;
  }

  &__link {
    color: $main-basic-white;
  }

  &__link:visited {
    color: $main-basic-white;
  }

  &__email:hover,
  &__email:focus,
  &__phone:hover,
  &__phone:focus {
    color: $accent-color;
  }

  &__email,
  &__phone {
    @include transition(color);
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__thumb:nth-child(2) {
      margin-top: 0px;
      margin-left: 165px;
    }

    &__thumb:nth-child(3) {
      width: 450px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background-color: $main-backround-color;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
      width: 1200px;

      display: flex;
      align-items: baseline;
      text-align: left;
    }

    &__thumb:nth-child(2) {
      margin-left: 70px;
    }

    &__thumb:nth-child(3) {
      width: 580px;
      margin-left: 93px;
      margin-top: 0;
    }

    &__thumb:nth-child(3) input {
      display: inline-block;
      margin-top: 20px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background-color: #2f303a;
      width: 358px;
      height: 50px;
      padding-left: 16px;
      outline: none;

      @include transition(border);
    }

    &:nth-child(3) input::placeholder {
      @include roboto(400, 16px, 1.25, 0.03em);
      color: rgba(255, 255, 255, 0.6);
    }

    &:nth-child(3) input:focus {
      border: 1px solid $accent-color;
    }

    & .logo {
      display: block;
      margin-bottom: 20px;
      color: $main-basic-white;
    }

    &__text {
      @include roboto(700, 14px, 1.14, 0.03em);
      text-transform: uppercase;
      color: $main-basic-white;
    }

    & .socials__link {
      background: rgba(255, 255, 255, 0.1);
      @include transition(background-color);
    }

    & .socials__link:hover,
    & .socials__link:focus {
      background-color: $accent-color;
    }

    &__button {
      @include button;
      margin-top: 0;
      margin-left: 12px;
      padding: 10px 28px 10px 29px;
      @include transition(transform);
      box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover {
      box-shadow: 0 15px 20px rgba(117, 117, 117, 0.7);
      transform: translateY(-7px);
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      fill: #fff;
    }

    & .socials {
      display: flex;
      margin-top: 20px;
      justify-content: center;
    }

    & .socials__icon {
      @include transition(fill);
      fill: $main-basic-white;
    }
  }

  .address {
    &__item {
      @include roboto(400, 14px, 1.71, 0.03em);
      font-style: normal;
      color: rgba(255, 255, 255, 0.6);
    }

    &__item + &__item {
      margin-top: 9px;
    }

    &__link {
      color: $main-basic-white;
    }

    &__link:visited {
      color: $main-basic-white;
    }

    &__email:hover,
    &__email:focus,
    &__phone:hover,
    &__phone:focus {
      color: $accent-color;
    }

    &__email,
    &__phone {
      @include transition(color);
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
