.team {
  background-color: $third-bacground-color;
  padding-top: 94px;
  padding-bottom: 94px;

  &__container {
    @extend %container;
  }

  &__title {
    @include roboto(700, 36px, 1.17, 0.03em);
    text-align: center;
    margin-bottom: 50px;
  }
  &__item {
    background-color: $main-basic-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__images {
    display: block;
    width: 100%;
    height: auto;
  }
}

.cardbox {
  padding: 30px 0px 24px 0px;

  &__name {
    @include roboto(500, 16px, 1.19, 0.03em);
    text-align: center;
  }

  &__profession {
    @include roboto(400, 16px, 1.19, 0.03em);
    text-align: center;

    color: $secondery-text-color;
    margin-top: 10px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;

    @include transition(background-color);
  }

  &__item + &__item {
    margin-left: 10px;
  }

  &__item {
    width: 44px;
    height: 44px;
  }

  &__icon {
    @include transition(fill);
    fill: $icon-colors;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: #ffffff;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }
}

@media screen and (min-width: 768px) {
  .team {
    &__title {
      @include roboto(700, 28px, 1.18, 0.03em);
      margin-bottom: 30px;
    }

    &__list {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      margin: 15px;
      width: calc((100% - 4 * 15px) / 2);
    }

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    &__container {
      width: 1200px;
    }
    &__title {
      @include roboto(700, 36px, 1.17, 0.03em);
      margin-bottom: 50px;
    }

    &__list {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      margin: 15px;
      width: calc((100% - 8 * 15px) / 4);
    }

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }

    &__images {
      display: block;

      height: 260px;
      object-fit: fill;
    }
  }

  .cardbox {
    padding: 30px 0px;

    &__name {
      @include roboto(500, 16px, 1.19, 0.03em);
      text-align: center;
    }

    &__profession {
      @include roboto(400, 16px, 1.19, 0.03em);
      text-align: center;

      color: $secondery-text-color;
      margin-top: 10px;
    }
  }
}
