.portfolio {
  padding: 60px 0px;

  &__container {
    @extend %container;
  }

  &__nav {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    margin: 0px -4px 40px -4px;
  }

  &__button {
    @include roboto(500, 16px, 1.62, 0.03em);
    text-align: center;
    display: inline-block;
    padding: 6px 22px 6px 22px;
    background-color: $third-bacground-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
  }

  &__item {
    margin: 7.5px 4px;
  }

  &__button.current__button {
    color: $main-basic-white;
    background-color: $accent-color;
  }

  &__button:hover,
  &__button:focus {
    color: $main-basic-white;
    background-color: $secondary-bacground-color;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.current__button {
  color: $accent-color;
}

// WORKS

.production {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  &__item {
    width: calc(100% / 1 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }

  &__link {
    @include transition(box-shadow);
    display: block;
  }

  &__link:focus,
  &__link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__title {
    @include roboto(700, 18px, 2, 0.06em);
    margin-bottom: 4px;
    color: $main-text-color;
  }

  &__card {
    padding: 20px 24px 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  &__type {
    @include roboto(400, 16px, 1.87, 0.03em);
    color: $secondery-text-color;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
    height: 294px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: fill;
  }

  &__text {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: translateY(100%);
    display: block;

    @include roboto(400, 18px, 1.56, 0.03em);

    color: rgba(33, 150, 243, 0.9);
    background-color: rgba(33, 150, 243, 0.9);
    @include transition(transform);

    padding: 63px 24px;
  }

  &__link:focus &__text,
  &__link:hover &__text {
    transform: translateY(0);
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .production {
    &__item {
      width: calc(100% / 2 - 30px);
    }

    &__item:first-child &__card {
      height: 146px;
    }
  }

  .portfolio {
    &__nav {
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0px;

    &__container {
      width: 1200px;
    }

    &__nav {
      margin-bottom: 50px;
    }
  }

  .production {
    &__item {
      width: calc(100% / 3 - 30px);
    }

    &__item:first-child &__card {
      height: 110px;
    }
  }
}
